<div id="spud_admin_photo_album_<%= album.id %>" class="spud_admin_photo_ui_thumb" style="background-image:url('<%= album.top_photo_url(:spud_admin_small) %>')">
  <h4><%= album.title %></h4>
  <div style="display:none;">
    <%= check_box_tag 'spud_photo_gallery[album_ids][]', album.id, (@photo_gallery && @photo_gallery.album_ids.include?(album.id)) %>
  </div>
  <div class="spud_admin_photo_ui_thumb_controls">
    <%= link_to 'Edit', edit_spud_admin_photo_album_path(album), :class => 'spud_admin_photos_btn_edit' %>
    <%= link_to 'Delete', spud_admin_photo_album_path(album), :method => :delete, :class => 'spud_admin_photos_btn_delete', :remote => true, :confirm => 'Are you sure?' %>
  </div>
</div>