<%= form_for @photo_album, :url => path, :html => {:class => 'form-horizontal', :id => 'spud_admin_photo_album_form'} do |f| %> 
  
  <%= error_messages_for(f.object) %>
  
  <fieldset>
    <legend>Photo Album Info</legend>  
    <div class="control-group">
      <%= f.label :title, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
  </fieldset>

  <fieldset class="spud_admin_photos_album_fieldset">
    <legend>Selected Photos</legend>
    <div id="spud_admin_photo_album_actions" class="control-group">
      <%= link_to "Photo Library", spud_admin_photos_path, :class => "btn btn-primary", :id => 'spud_admin_photo_album_action_library' %>
      <%= link_to "Upload Photo", new_spud_admin_photo_path, :class => "ajax btn btn-success", :title => "New Photo" %>
    </div>
    <div id="spud_admin_photo_upload_queue">
      <p>Drag and drop photos here to upload</p>
      <h5 id="spud_admin_photo_upload_queue_label">Queued Uploads: <span>0</span></h5>
      <div id="spud_admin_photo_upload_queue_bars"></div>
    </div>
    <div id="spud_admin_photos_selected" class="control-group spud_admin_photo_ui_thumbs spud_admin_photo_ui_thumbs_sortable">
      <%= render :partial => '/spud/admin/photos/photo', :collection => @photo_album.photos %>
    </div>
  </fieldset>

  <div class="form-actions" style="clear:both">
    <%= f.submit "Save Photo Album", :class=>"btn btn-primary form-btn", "data-loading-text" => "Saving..." %> 
    or <%=link_to "cancel", request.referer, :class => "btn" %>
  </div>

<% end %>