<%= form_for @photo_album, :url => path, :html => {:class => 'form-horizontal', :id => 'spud_admin_photo_album_form'} do |f| %> 
  
  <%= error_messages_for(f.object) %>
  
  <fieldset>
    <legend>Photo Album Info</legend>  
      <div class="control-group">
        <%= f.label :title, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
  </fieldset>

  <fieldset class="spud_admin_photos_album_fieldset">
    <%= link_to "New Photo", new_spud_admin_photo_path, :class => "spud_admin_photo_create ajax btn btn-primary", :title => "New Photo" %>
    <legend>Select Photos</legend>
    <div id="spud_admin_photos_selected" class="spud_admin_photos_selection_left">
      <h4>Selected:</h4>
      <div class="spud_admin_photo_ui_thumbs spud_admin_photo_ui_thumbs_sortable">
        <%= render :partial => '/spud/admin/photos/photo', :collection => @photo_album.photos %>
      </div>
    </div>
    <div id="spud_admin_photos_available" class="spud_admin_photos_selection_right">
      <h4>Available:</h4>
      <div class="spud_admin_photo_ui_thumbs spud_admin_photo_ui_thumbs_sortable">
        <%= render :partial => '/spud/admin/photos/photo', :collection => @photo_album.photos_available %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions" style="clear:both">
    <%= f.submit "Save Photo Album", :class=>"btn btn-primary form-btn", "data-loading-text" => "Saving..." %> 
    or <%=link_to "cancel", request.referer, :class => "btn" %>
  </div>

<% end %>