<%= form_for @photo_album, :url => path, :html => {:class => 'form-horizontal'} do |f| %> 
  
  <%=error_messages_for(f.object)%>
  
  <fieldset>
    <legend>Photo Album Info</legend>  
      <div class="control-group">
        <%= f.label :title, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
  </fieldset>
  
  <fieldset>
    <legend>Photos</legend>
    <div id="spud_admin_photo_gallery_photo_selectors" class="spud_admin_photo_ui_thumbs">
      <% @photos.each do |photo| %>
        <div class="spud_admin_photo_ui_thumb spud_admin_photo_ui_thumb_selectable">
          <%= check_box_tag 'spud_photo_album[photo_ids][]', photo.id, (@photo_album.photo_ids.include?(photo.id)) %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Save Photo Gallery", :class=>"btn btn-primary form-btn", "data-loading-text" => "Saving..." %> 
    or <%=link_to "cancel", request.referer, :class => "btn" %>
  </div>

<% end %>