<%= content_for :data_controls do %>
  <%= link_to "New Photo Album", new_spud_admin_photo_album_path, :class => "btn btn-primary", :title => "New Photo Album" %>
<% end %>

<%= content_for :detail do %>
  <div id="spud_admin_photo_galleries" class="spud_admin_photo_ui_thumbs">
    <% @photo_albums.each do |album| %>
      <div class="spud_admin_photo_ui_thumb">
        <h4><%= album.title %></h4>
        <div class="spud_admin_photo_ui_thumb_controls">
          <%= link_to 'Edit', edit_spud_admin_photo_album_path(album) %>
          <%= link_to 'Delete', spud_admin_photo_album_path(album), :method => :delete %>
        </div>
      </div>
    <% end %>
  <div>
<% end %>