<%= form_for @photo, :url => (@photo.new_record? ? spud_admin_photos_path : spud_admin_photo_path(@photo)), :html => {:id => 'spud_admin_photo_form', :target => 'spud_admin_photo_form_target', :class => 'form-horizontal'} do |f| %> 
  
  <%=error_messages_for(f.object)%>
  
  <fieldset>
    <legend>Photo Info</legend>  
      <div class="control-group">
        <%= f.label :title, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :caption, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :caption %>
        </div>
      </div>
  </fieldset>

  <fieldset>
    <legend>File Upload</legend>
      <div class="control-group">
        <%= f.label :photo, :class => "control-label" %>
        <div class="controls">
          <%= f.file_field :photo %>
        </div>
      </div>
      <% unless @photo.new_record? %>
        <div class="control-group">
          <label class="control-label">Current Photo</label>
          <div class="controls">
            <%= image_tag @photo.photo.url(:spud_admin_medium) %>
          </div>
        </div>
      <% end %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Save Photo", :class=>"btn btn-primary form-btn", "data-loading-text" => "Saving..." %> 
    <!--or <%=link_to "cancel", request.referer, :class => "btn" %> -->
  </div>

  <iframe id="spud_admin_photo_form_target" name="spud_admin_photo_form_target" style="display:none;"></iframe>

<% end %>