<%= form_for @photo, :url => (@photo.new_record? ? spud_admin_photos_path : spud_admin_photo_path(@photo)), :html => {:multipart => true} do |f| %>

  <% if @photo.photo_file_name %>
  <section>
    <%= image_tag @photo.photo.url(:admin_large) %>
  </section>
  <% end %>

  <section>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </section>

  <section>
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </section>

  <section>
    <%= f.label 'Upload' %>
    <%= f.file_field :photo %>
  </section>

  <section>
    <%= f.submit 'Save' %>
  </section>

<% end %>