<%= form_for @photo_gallery, :url => path, :html => {:class => 'form-horizontal', :id => 'spud_admin_photo_gallery_form'} do |f| %> 
  
  <%=error_messages_for(f.object)%>
  
  <fieldset>
    <legend>Gallery Info</legend>  
      <div class="control-group">
        <%= f.label :title, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
  </fieldset>
  
  <!-- if no albums are selected below, this ensures we send an empty album_ids array -->
  <%= hidden_field_tag 'spud_photo_gallery[album_ids][]' %>

  <fieldset>
    <legend>Select Albums</legend>
    <div id="spud_admin_photo_albums_selected" class="spud_admin_photos_selection_left">
      <h4>Selected:</h4>
      <div class="spud_admin_photo_ui_thumbs spud_admin_photo_ui_thumbs_sortable">
        <%= render :partial => '/spud/admin/photo_albums/album', :collection => @photo_gallery.albums %>
      </div>
    </div>
    <div id="spud_admin_photo_albums_available" class="spud_admin_photos_selection_right">
      <h4>Available:</h4>
      <div class="spud_admin_photo_ui_thumbs spud_admin_photo_ui_thumbs_sortable">
        <%= render :partial => '/spud/admin/photo_albums/album', :collection => @photo_gallery.albums_available %>
      </div>
    </div>
  </fieldset>


  <div class="form-actions">
    <%= f.submit "Save Photo Gallery", :class=>"btn btn-primary form-btn", "data-loading-text" => "Saving..." %> 
    or <%=link_to "cancel", request.referer, :class => "btn" %>
  </div>

<% end %>