<%= content_for :data_controls do %>
  <%= link_to "New Photo Gallery", new_spud_admin_photo_gallery_path, :class => "btn btn-primary", :title => "New Photo Gallery" %>
<% end %>

<%= content_for :detail do %>
  <div id="spud_admin_photo_galleries" class="spud_admin_photo_ui_thumbs">
    <% @photo_galleries.each do |gallery| %>
      <div id="spud_admin_photo_gallery_<%= gallery.id %>" class="spud_admin_photo_ui_thumb" style="background-image:url('<%= gallery.top_photo_url(:spud_admin_medium) %>')">
        <h4><%= gallery.title %></h4>
        <div class="spud_admin_photo_ui_thumb_controls">
          <%= link_to 'Edit', edit_spud_admin_photo_gallery_path(gallery), :class => 'spud_admin_photos_btn_edit' %>
          <%= link_to 'Delete', spud_admin_photo_gallery_path(gallery), :method => :delete, :class => 'spud_admin_photos_btn_delete', :remote => true, :confirm => 'Are you sure?' %>
        </div>
      </div>
    <% end %>
  <div>
<% end %>